<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Home Page</title>
</head>

<body>
    
    <div class="container">
        <!-- Navigation bar  -->
        <div class="navigation-bar">
            <div class="title">
                <a href="../index.html">Home Food</a>
            </div>
            <div class="links">
                <a href="../index.html">Home </a>
                <a href="about.html">About</a>
                <a href="contact.html">Contact</a>
            </div>
            <div class="login-register">
                <button class="login" ><a href="login.html"> Login</a></button>
                <button class="register"><a href="register.html">Register</a> </button>
            </div>
        </div>

        <!-- main content  -->
        <h1>Welcome to our about page </h1>


        <!-- footer  -->
        <div class="container3">            
            <img src="../asset/restaurnt.jpg" alt="restaurnt" width="900%" height="900%">
        </div>
        <div class="footer">
            <div class="sub-footer">
                <div class="footer-img">
                    <img src="../asset/map.jpg" alt="map" width="110%" height="900%">
                </div>
                <div class="footer-content">
                    <div class="map-content">
                        <h2>Address</h2>
                        <p>CQ88+PH,Prey To Tueng,Kampong Speu Province, Phnom Penh, Cambodia</p>
                    </div>
                    <div class="q-link">
                        <a href="index.html">> Home</a><br><br>
                        <a href="components/about.html">> About</a><br><br>
                        <a href="components/contact.html">> Contact</a>
                    </div>
                    
                </div>
            </div>
            <hr>
            <div class="footer-buttom">@sochhiet2025</div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>