<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Home Page</title>
    
</head>

<body>
    <div class="container">
        <!-- Navigation bar  -->
        <div class="navigation-bar">
            <div class="title">
                <a href="../index.html">Home Food</a>
            </div>
            <div class="links">
                <a href="../index.html">Home </a>
                <a href="about.html">About</a>
                <a href="contact.html">Contact</a>
            </div>
            <div class="login-register">
                <button class="login" ><a href="login.html"> Login</a></button>
                <button class="register"><a href="register.html">Register</a> </button>
            </div>
        </div>

        <!-- main content  -->
        <h1>Welcome to our contact page </h1>
        <!-- footer  -->
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1955.4361582194224!2d104.76772496023084!3d11.41681250000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310943007130a9b7%3A0x5587668d4e351135!2sDigital%20University%20of%20Cambodia!5e0!3m2!1sen!2skh!4v1738726370866!5m2!1sen!2skh" width="1100" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" alt="map" width="110%" height="900%"></iframe> </div>
        <div class="contact">
            <!-- <p>Street 232, Phnom Penh, Cambodia. Open 8:00Am - 11:00Pm.</p> -->
        </div>
        <p>Street 232, Phnom Penh, Cambodia. Open 8:00Am - 11:00Pm.</p>




        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    

        
</body>

</html>